
  

      
      

      
      
  <div class="container">

    <main>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Video Tutorials</h1>
          <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
        </div>
      </div>

           
            <h3 class="text-center">Top Courses</h4>
              <div class="container mt-3">
                <div class="row d-flex justify-content-center">
<div class="card-deck">
              <div class="card mb-4">
                <img
                  class="card-img-top"
                  src="https://miro.medium.com/max/1400/1*9AbbVli10NreTXCpiVYEOQ.png"
                  alt="Card image cap"
                  width="400"
                />
                <div class="card-body">
                  <h4 class="card-title">ExpressJS</h4>
                </div>
              </div>

              <div class="card mb-4">
                <img
                  class="card-img-top"
                  src="https://colorlib.com/wp/wp-content/uploads/sites/2/angular-logo.png"
                  alt="Card image cap"
                  width="400"
                />
                <div class="card-body">
                  <h4 class="card-title">Angular</h4>
                </div>
              </div>

              <div class="card mb-4">
                <img
                  class="card-img-top"
                  src="http://blog.addthiscdn.com/wp-content/uploads/2014/11/addthis-react-flux-javascript-scaling.png"
                  alt="Card image cap"
                  width="400"
                />
                <div class="card-body">
                  <h4 class="card-title">React</h4>
                </div>
              </div>
            </div>

          </div>
   

            
                    
                 
                

          
            
              

                </div> <!-- row d-flex-->
              <!-- </div> row -->
            </div> <!--container-->
        </main>
    </div>


      
      
    </div>

<script>

  console.log(document.cookie);


</script>

